*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

toto.txt

# Fichiers générés par les scripts
generated/step 0.5 add_id/
generated/step 1 chunk/
generated/step 2 sqlite/
app/src/main/assets/vocabulary.db